@import "tailwindcss";
@import "@ngrok/mantle/mantle.css";
@import "@ngrok/mantle/source-all.css";

:root {
	color-scheme: light dark;
}

body {
	color: var(--text-color-body);
	background-color: var(--background-color-base);
}
